/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #1d1d60;          /* Azul corporativo */
  --ifm-color-primary-dark: #376ECC;
  --ifm-color-primary-light: #89AFFF;
  --ifm-background-color: #F4F6F8;       /* Gris claro suave, menos agresivo que blanco puro */
  --ifm-navbar-background-color: #1442da;/* Navbar blanco puro para limpieza */
  --ifm-navbar-link-color: #1F1F25;      /* Texto navbar oscuro para contraste */
  --ifm-color-content: #1F1F25;          /* Texto general oscuro, legible */
  --ifm-color-secondary: #ffffff;        /* Texto secundario gris medio */
  --ifm-table-border-color: #D9D9D9;     /* Bordes suaves de tablas */
  --ifm-color-danger: #FF4F4F;           /* Botón eliminar */
  --ifm-footer-background-color: #E9EBEF;/* Footer suave */
}


/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #3F80FF;
  --ifm-color-primary-dark: #376ECC;
  --ifm-color-primary-light: #89AFFF;
  --ifm-background-color: #1F1F25;
  --ifm-navbar-background-color: #2B2B33;
  --ifm-navbar-link-color: #FFFFFF;
  --ifm-color-content: #FFFFFF;
  --ifm-color-secondary: #B5B5B5;
  --ifm-table-border-color: #373741;
  --ifm-color-danger: #FF4F4F;
}
